{% extends "two_factor/_base_focus.html" %}
{% load i18n %}

{% block content %}
<h1>{% block title %}{% trans "Enable Two-Factor Authentication" %}{% endblock %}</h1>

<p>{% blocktrans trimmed %}Congratulations, you've successfully enabled two-factor
  authentication.{% endblocktrans %}</p>

{% if not phone_methods %}
<p><a href="{% url 'banking_app:logout' %}" class="btn btn-block btn-secondary">Go to your account</a></p>

<a href="{% url 'banking_app:index' %}" class="float-right btn btn-link">{% trans "Back to Account Security" %}</a>
{% endif %}

{% endblock %}