{% extends 'banking_app/base.html' %} {% block content %}
<ul>
  <h2>Your accounts:</h2>
  <ol>
    {% for account in accounts %} {% if account.account_type == 'bank account' %}
    <li style="display: flex; justify-content: space-between">
      account type:
      <span style="font-size: 20px; font-weight: bold">{{ account.account_type }}</span>
      account number::
      <span style="font-size: 20px; font-weight: bold"> {{ account.pk }}</span>
      available balance:
      <span style="font-size: 20px; font-weight: bold">{{ account.balance }}</span><a href="{% url 'banking_app:activity' account_id=account.pk %}">view account activity</a>
      <a href="{% url 'banking_app:transfers' account_id=account.pk %}">Make a transfer</a>
    </li>
    <hr />
    {% endif %} {% endfor %}
  </ol>

  {% if customer.can_make_loan %}
  <h2>Your loans:</h2>
  <a href="{% url 'banking_app:add_loan' customer_id=customer.pk %}">make a loan</a>
  <ol>
    {% for account in accounts %} {% if account.account_type == 'Loan' %}
    <li style="display: flex; justify-content: space-between">
      account type:
      <span style="font-size: 20px; font-weight: bold">{{ account.account_type }}</span>
      account number:
      <span style="font-size: 20px; font-weight: bold"> {{ account.pk }}</span>
      loan balance:
      <span style="font-size: 20px; font-weight: bold">{{ account.balance }}</span>
      <a href="{% url 'banking_app:pay_loan' customer_id=customer.pk account_id=account.pk%}">Pay off loan</a>
    </li>
    <hr />
    {% endif %} {% endfor %}
  </ol>
  {% endif %}
</ul>

<div id="notification">
  <p></p>
  <span>x</span>
</div>

<style>
  #notification {
    background: pink;
    width: max-content;
    padding: 10px 20px;
    border-radius: 10px;
    position: absolute;
    top: 50px;
    right: 50px;
    opacity: 0;
    transition: all 0.2s ease-in;
  }
  #notification span {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(223, 223, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in;
  }
</style>

<script>
  // hardcoding Natalie's user fk
  var userSocketName = "{{customer.id}}";
  var notification = document.querySelector("#notification");
  var notificationText = document.querySelector("#notification > p");
  var notificationCloseButton = document.querySelector("#notification > span");
  console.log(userSocketName);

  const chatSocket = new WebSocket("ws://" + window.location.host + "/ws/notifications/" + userSocketName + "/");
  console.log(chatSocket);
  // check if the connection is open
  chatSocket.onopen = function (e) {
    console.log("connection is open");
  };

  //when receiving the message
  chatSocket.onmessage = function (e) {
    console.log("new notification!");
    const data = JSON.parse(e.data);
    notification.style.opacity = 1;
    notificationText.innerHTML = `You received ${data.amount}dkk from bank account nr ${data.sender}`;
  };

  // close notification
  notificationCloseButton.addEventListener("click", () => {
    notification.style.opacity = 0;
  });

  // when the socket closed
  chatSocket.onclose = function (e) {
    console.error("Chat socket closed unexpectedly");
  };
</script>

{% endblock %}
