{% extends 'banking_app/base.html' %} {% block content %}
<h2>Make a transfer</h2>
<p>Available balance: <span id="availableBalance">{{ available_balance }}</span></p>
<h3>Internal bank transfer</h3>
<form action={% url 'banking_app:transfers' account_id=currentAccount.pk %} method="POST">
    {% csrf_token %}
    <label for="fromAccount">from</label>
    <input type="text" name="fromAccount" id="fromAccount" placeholder="from" value={{ currentAccount.pk }}>
    <label for="toAccount">to</label>
    <select name="toAccount" id="toAccount">
        {% for account in allAccounts %}
            {% if account.account_type != 'Foreign Bank' %}
                <option value={{ account.pk }}> {{ account.pk }} - {{ account.customer.user }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <input type="number" name="amount" id="amount" placeholder="amount">
    <input name="text" id="text" placeholder="text">
    <button type="submit">transfer</button>
</form>
<h3>External bank transfer</h3>
<form action={% url 'banking_app:external_transfer' account_id=currentAccount.pk %} method="POST" id="externalTransfer">
    {% csrf_token %}
    <label for="fromAccount">from</label>
    <input type="text" name="fromAccount" id="fromAccount" placeholder="from" value={{ currentAccount.pk }}>
    <label for="toBank">iban</label>
    <select name="toBank" id="toBank">
        {% for account in allAccounts %}
            {% if account.account_type == 'Foreign Bank' %}
                <option value={{ account.pk }}> {{ account.customer.user }} </option>
            {% endif %}
        {% endfor %}
    </select>
    <label for="toAccount">to</label>
    <input type="number" name="toAccount" id="toAccount" placeholder="recipient">
    <input type="number" name="amount" id="amount" placeholder="amount">
    <input name="text" id="text" placeholder="text">
    <button type="submit" onclick="addToLedger()">transfer</button>
</form>
<br />
{% if error %}
      <p><strong style="color: red;">Transfer unsuccesfull due to: {{ error }}</strong></p>
{% endif %}
<a href={% url 'banking_app:index' %}>go back</a>

{% endblock %} 
